<div class="container">
  <h2>Assign Brands to Shoe Stores</h2>
  <form class="form-group row" action="stores/brands/<%= @stores.ids %>" method="post">
    <label for="select_a_store">Select a Store</label>
  <select class="form-control" name="select_a_store">
    <% @stores.each do |store| %>
    <option value="<%= store.id %>"><%= store.store %></option>
    <%end%>
  </select>
  </div>

<div class="container">
  <div class="form-group row">
  <label for="select_a_brand">Select Brands to add to your selected store</label>
  <select multiple class="form-control" id="select_a_brand" name="select_a_brand[]">
    <% @brands.each do |brand| %>
    <option value="<%= brand.id %>"><%= brand.shoe_brand %>, <%= brand.price %> </option>
    <%end%>
  </select>
</div>
</div>

<button type="submit" class="btn btn-primary">Assign</button>
  </form>
